#sales {
  margin-top: 20px;
  .image-holder {
    .size(height, 150px, 0px);
//    border: 1px solid @color-blue;
//    padding: 0;
  }

  .sales-holder {
//    padding: 0 15px 0 15px;
  }

  .timer {
    background-color: rgba(74, 151, 204, 0.21);
    height: 95px;
  }

  img {
    object-fit: fill;  // картинка  масштабируется
    height: 100%;
    width: 100%;
  }

  .hurry {
//    padding-top: 10px;
    width: 200px;
  }

  .example {
    width: 350px;
    height: auto;
    margin: 0 auto;
  }

}